<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
	<connectionStrings>
		<add name="WebFinalContext" connectionString="data source=webfinalappdbserver.database.windows.net;initial catalog=WebFinalDB;persist security info=True;user id=kito;password=final_manna_061;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>