<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
	<connectionStrings>
		<add name="WebFinalContext" connectionString="data source=DESKTOP-810T9T0;initial catalog=WebFinalDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>