*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* General_start */

.section--general{
    width: 100%;
    background-color: #0c3865;
}

.container--general{
    width: 960px;
    margin: auto;
}

.flex--center-items{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-arrow{
    width: 50px;
    height: 50px;
    padding: 0px 2px;
    cursor: pointer; 
}

.item--border{
    width: 100%;
    height: 1px;
    background-color: #e2e2e2;
    margin: 6px 0px;
}

/* General_end */


/* Navbar_start */

.container--navbar{
    border-bottom: 0px solid black;
}

.navbar__items{
    display: flex;
    justify-content: space-between;
}

.item--navbar--logo{
    width: 20%;
    padding-top: 10px;
    padding-bottom: 15px;
}

.item--navbar--logo img{
    width: 100%;
}

.navbar__items__menu{
    display: flex;
    width: 50%;
}

.item--navbar--button{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: white;
    font-weight: 700;
    font-size: large;
    transition: 0.1s;
}

.item--navbar--button:hover{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    cursor: pointer;
}

/* Navbar_end */




/* footer_start */

.section--footer{
    background-color: black;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.social-links{
    display: flex;
}

.social-button{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;

}

.copyright-text{
    margin-bottom: 10px;
}


/* footer_end */




/* scroller_start */

.container--scroller{
    padding-bottom: 50px;
    padding-top: 15px;
}

.scroller {
    width: 100%;
    position: relative;
}

#scroller_img_center{
    width: 60%;
    z-index: 10;
}

#scroller_img_left{
    left: 0;
    bottom: 10px;
    position: absolute;
    width: 40%;
}

#scroller_img_right{
    right: 0;
    bottom: 10px;
    position: absolute;
    width: 40%;
}

/* scroller_end */


/* scroll-header_start */

.section--scroll-header{
    background-color: #e8e7e5;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container--scroll-header{
    padding-top: 20px;
}

.scroll-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #303030;
    width: 100%;
    align-items: center;
    height: 3px;
    position: relative;
}

.scroll-header .title{
    display: flex;
    width: 256px;
    height: 48px;
    border-radius: 11px;
    background-color: #303030;
    color: white;
    position: absolute;
    align-items: center;
    justify-content: center;

}

/* scroll-header_end */


/* new_blogs_start */

.section--content-scroll{
    background-color: #e8e7e5;
}

.content-scroll{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 20px 0px;
    cursor: pointer;
}

.item--new-blog{
    width: 300px;
    height: 200px;
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff;
    position: relative;
    overflow: hidden;
    min-width: min-content;
}

.item--new-blog img{
    height: 100%;
    pointer-events: none;
}

.new-blog-title{
    display: flex;
    height: 40px;
    width: 100%;
    background-color: #151515;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0px;
    transition: 0.5s;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item--new-blog:hover .new-blog-title{
    bottom: -40px;
}

/* new_blogs_end */



/* new_tweets_start */

.twitter-tweet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 10px 5px;
    padding: 16px;
    background-color: white;
    position: relative;
    overflow: hidden;
    min-width: 400px;
    min-height: 233px;
}
  
.twitter-tweet p {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
}
  
.twitter-tweet a {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    outline: 0 none;
}
  
.twitter-tweet a:hover,
.twitter-tweet a:focus {
    text-decoration: underline;
}

.tweet-body {
    display: flex;
    flex-direction: column;
}

.twitter-tweet .tweet-link{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.tweet-user .user-image{
    width: 46px;
    height: 46px;
    border-radius: 9999px;
    pointer-events: none;
}

.tweet-user {
    display: flex;
}

.tweet-user-id {
    padding-left: 10px;
}

/* new_tweets_end */