@media all and (max-width: 960px) {

    div .gallery-card {
        width: 40%;
    }

    .gallery-card {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media all and (max-width: 500px) {

    div .gallery-card {
        width: auto;
    }

}
