@media all and (max-width: 960px) {

    #scroller_img_left {
        display: none;
    }

    #scroller_img_right {
        display: none;
    }

    #scroller_img_center {
        width: 80%;
    }

    #left-arrow-blogs {
        display: none;
    }

    #right-arrow-blogs {
        display: none;
    }

    #left-arrow-tweets {
        display: none;
    }

    #right-arrow-tweets {
        display: none;
    }

    .content-scroll {
        margin-left: 10px;
        margin-right: 10px;
    }
}

