* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General_start */

.section--general {
    width: 100%;
    background-color: #0c3865;
}

.container--general {
    width: 960px;
    margin: auto;
}

.flex--center-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* General_end */


/* Navbar_start */

.container--navbar {
    border-bottom: 0px solid black;
}

.navbar__items {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.item--navbar--logo {
    width: 20%;
    padding-top: 10px;
    padding-bottom: 15px;
    cursor: pointer;
    min-width: 100px;
    margin-left: 10px;
}

.item--navbar--logo img {
    width: 100%;
}

.navbar__items__menu {
    display: flex;
    justify-content: space-between;
    width: 55%;
    align-items: center;
    transition: 0.5s;
}

.item--navbar--button {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    color: white;
    font-weight: 700;
    font-size: large;
    transition: 0.1s;
    height: 100%;
}

.item--navbar--button:hover {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    cursor: pointer;
}

/* Navbar_end */




/* footer_start */

.section--footer {
    background-color: black;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.social-links {
    display: flex;
    width: 70%;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.soc_link {
    width: 100%;
    max-height: 40px;
    max-width: 40px;
    margin-left: 5px;
    margin-right: 5px;
}

.social-button {
    width: 100%;
}

.copyright-text {
    margin-bottom: 10px;
}

.back-to-top-button {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 25px;
    cursor: pointer;
}

/* footer_end */



/* burger_start */


.burger_wrapper {
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    margin: auto 20px;
    z-index: 99999;
}

.burger_button {
  width: 80%;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.burger_button::before, .burger_button::after {
  content: '';
  position: absolute;
  width: 80%;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.burger_button::before {
    transform: translateY(-12px);
}

.burger_button::after {
    transform: translateY(12px);
}

/* burger_end */